[project]
	description = Toast-Recorder for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Siegmund (mars3142)
[access "refs/for/refs/*"]
	read = group user/Peter Siegmund (mars3142)
	push = group user/Peter Siegmund (mars3142)
	label-Code-Review = -2..+2 group user/Peter Siegmund (mars3142)
	label-Verified = -1..+1 group user/Peter Siegmund (mars3142)
	rebase = group user/Peter Siegmund (mars3142)
	removeReviewer = group user/Peter Siegmund (mars3142)
	submit = group user/Peter Siegmund (mars3142)
[access "refs/heads/*"]
	read = group user/Peter Siegmund (mars3142)
	create = group user/Peter Siegmund (mars3142)
	push = +force group user/Peter Siegmund (mars3142)
	pushMerge = group user/Peter Siegmund (mars3142)
[access "refs/tags/*"]
	push = +force group user/Peter Siegmund (mars3142)
	pushTag = group user/Peter Siegmund (mars3142)
	pushSignedTag = group user/Peter Siegmund (mars3142)
